*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.headerFormula {
    width:100%;
    background-size: cover;
    background-color: white;
    position: relative;
}

.intro {
    text-align: left;
    margin: auto;
    text-align: justify;
}

.intro h1{
    color:#e54726;
    text-align: left;
}

.FormulaP{
    font-weight:600;
    border-bottom: 2px solid black;
}

.wave-bg {
    position: relative;
    background: transparent;
}

.wave-bg svg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
.wave-bg .intro {
    position: relative;
    z-index: 2;
}
.bottom{
    bottom: 0;
}
.top{
    top: 0;
}

.bg-dark{
    background-color: rgb(65,62,62)!;
}
